.hyper-sql-datagrid {
    table-layout: fixed;
}
.hyper-sql-datagrid tr td {
    cursor: pointer;
    vertical-align: top;
}
.hyper-sql-datagrid tr td span {
    display: block;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hyper-sql-datagrid tr.hyper-sql-view-details td {
    overflow: auto;
}
.hyper-sql-datagrid tr.hyper-sql-view-details td span {
    display: block;
    white-space: pre;
    max-height: unset;
    overflow: unset;
    text-overflow: unset;
}
#hyper-sql-explorer .hyper-sql-database>a.item-label>span.icon {
    background-image: none;
}
#hyper-sql-explorer .hyper-sql-database>a.item-label>span.icon:before {
    content:'\e9ae';
}
#hyper-sql-explorer .hyper-sql-table>a.item-label>span.icon {
    background-image: none;
}
#hyper-sql-explorer .hyper-sql-table>a.item-label>span.icon:before {
    content:'\ea70';
}
#hyper-sql-explorer .hyper-sql-field>a.item-label>span.icon {
    background-image: none;
}
#hyper-sql-explorer .hyper-sql-field>a.item-label>span.icon:before {
    content:'\e924';
}
#hyper-sql-explorer .hyper-sql-primary-key>a.item-label>span.icon {
    background-image: none;
}
#hyper-sql-explorer .hyper-sql-primary-key>a.item-label>span.icon:before {
    content:'\e98d';
}
